/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 #entries_table tr{
    text-align: left !important;
 }
 div#add_entry_wrap {
    margin: 35px 0px;
}
div#progress_wrap {
    width: 98%;
}
div#progress_popup,.edit_popup {
    position: fixed;
    left: 34%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    width: 300px;
    z-index: 99;
    box-shadow: 0 0 8px -5px black;
}
.edit_popup h4,
div#progress_popup h4 {
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
    position: relative;
}
span.close_popup {
    position: absolute;
    right: 0;
    transform: rotate(
45deg
);
    font-size: 30px;
    top: -18px;
    right: -20px;
    color: red;
    cursor: pointer;
}
.title{
    width: 100% !important;
}
.del-entry{
    border-color: #ff6b6b !important;
    color: #ff6b6b !important;
}
.del-entry:focus{
    box-shadow: 0 0 0 1px #ff6b6b !important;
}
span.warning{
    color: #ff0000;
    padding: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 10px;
    border-left: inset;
    border-left-color: #ff000070;
    letter-spacing: 1.3px;
    background-color: #ffebeb;
}
.random,.inputs {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}
.random input,.inputs input, .inputs select{
    width: 48%;
}
.single_inp input{
    width: 100% !important;
}
.inputs label {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 2px;
}
.inputs label:first-child{
    margin-left: 0;
}
.inputs label:last-child{
    margin-right: 0;
}
.inputs label input {
    width: 100%;
    cursor: pointer;
}
div#progress_opt_tbl {
    width: 27%;
}
.edit_popup {
    left: 65%;
    display: none;
}
.checkbox-inputs {
    margin: 10px 0px;
    display: block;
    height: 8px;
}
input[type="checkbox"] {
    float: left;
    width: 42px;
    height: 17px;
    cursor: pointer;
    background-color: rgb(170 170 170 / 30%);
    -webkit-appearance: none;
    border-radius: 8px;
    position: relative;
}
  
input[type="checkbox"]:before {
    content: "" !important;
    width: 1.3125rem;
    height: 1.3125rem;
    background-color: #bfbfbf;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    z-index: 2;
    left: -2px;
    transition: all .2s linear;
}
  
input[type="checkbox"]:after {
    content: "" !important;
    height: 100%;
    width: 17px;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 17px;
    background-color: rgb(51 174 184 / 30%);
    transition: all .2s linear;
}

input[type="checkbox"]:checked:before {
    left: calc(100% - 15px);
    background-color: #2271b1;
    top: 0;
}
input[type="checkbox"]:checked:after {
    width: 100%;
    border-radius: 8px;
}